<div class="container">
    <p><%= @user.first_name %> <%= @user.last_name %>&#8217;s Playlist</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Title</th>
          <th>Times Added</th>
        </tr>
      </thead>
      <tbody>
      <% if @user.playlists %>
      <% @user.playlists.each do |playlist| %>
        <tr>
          <td><%= playlist.song.artist %></td>
          <td><%= playlist.song.title %></td>
          <td><%= playlist.add_count %></td>
        </tr>
      <% end %>
      <% end %>
      </tbody>
    </table>
</div>